<ion-header>
  <ion-toolbar class="myback1" >
    <ion-buttons slot="start">
      <ion-back-button (click)="entityManagerPageroute()"></ion-back-button>
    </ion-buttons>
    <ion-title ><b><b>Create Entity </b></b></ion-title>
    <ion-buttons  slot="end">
     
      
      <ion-button class="iconsize" (click)="logout()">
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
     
    
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>

<ion-content class="background">


<!--
  <ion-list lines="none">
    <form [formGroup]="myForm">
      <ion-item *ngFor="let control of myForm.controls | keyvalue">
        <ion-input required type="text" formControlName="attribute_name" placeHolder="player name..."></ion-input>
        <ion-input required type="text" formControlName="atrributr_object" placeHolder="player name..."></ion-input>
        <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
      </ion-item>
    </form>
  </ion-list>
  <ion-button expand="full" color="light" (click)="addControl()">Add Player</ion-button>


-->
<br>
<div style="top:60%;left: 10%;padding-left: 20px;width: 80%;font-size:xx-large;">
 Create IoT Entity 
   
   
 </div>
 <br>

<ion-card style="left: 10%;padding-left: 20px;width: 80%;">
  


  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
   <br>

   







<h6 style="padding-left: 40%;">Entity Information</h6>

<div style="left: 10%;padding-left: 20px;width: 96%;">
<mat-form-field appearance="outline">
  <mat-label>Entity Name</mat-label>
  <input  type="text" formControlName="id" matInput>
</mat-form-field>
</div> 
<div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.id">
    <div class="error-message"
      *ngIf="validations_form.get('id').hasError(validation.type) && (validations_form.get('id').dirty || validations_form.get('id').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
</div>

<div style="left: 10%;padding-left: 20px;width: 96%;">
<mat-form-field appearance="outline">
  <mat-label>Entity Type</mat-label>
  <input  type="text" formControlName="type" matInput>
</mat-form-field>
</div> 
<div class="validation-errors">
  <ng-container *ngFor="let validation of validation_messages.id">
    <div class="error-message"
      *ngIf="validations_form.get('id').hasError(validation.type) && (validations_form.get('id').dirty || validations_form.get('id').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
</div>



 



  
    

  


  

    
      

<!--
<ion-card>
  <h4>Entity Atrributes Information</h4> <ion-fab vertical="top" horizontal="end" >
    <ion-fab-button (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <ion-item> 
    
      <ion-input type="text" placeHolder="Atrribute Name..." [(ngModel)]="attname"  required></ion-input>
      <ion-input type="text" placeHolder="Atrribute Type..." [(ngModel)]="atttype"  required></ion-input>
    </ion-item>
   
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.attribute_name">
        <div class="error-message"
          *ngIf="validations_form.get('attribute_name').hasError(validation.type) && (validations_form.get('attribute_name').dirty || validations_form.get('attribute_name').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </ion-card>
-->
 <!--   <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Register</ion-button>   -->
 







 
  <h6 style="padding-left: 40%;">Entity Atrributes Information</h6> 
  
    <ion-item> 
  
      

      <div style="left: 10%;padding-left: 20px;width: 50%;">
        <mat-form-field appearance="outline">
          <mat-label>Atrrubute Name</mat-label>
          <input type="text" [(ngModel)]="attname" [ngModelOptions]="{standalone: true}" matInput>
        </mat-form-field>
        </div> 
        



      
        <mat-form-field appearance="outline" style="left: 3%;width: 40%;">
          <mat-label>Select Atrribute Type</mat-label>
          <mat-select  [(ngModel)]="atttype"  [ngModelOptions]="{standalone: true}">
            <mat-option value="Float">Float</mat-option>
            <mat-option value="Integer">Integer</mat-option>
            <mat-option value="Double">Double</mat-option>
            <mat-option value="Boolean">Boolean</mat-option>
          </mat-select>
        </mat-form-field>
      <div style="padding-left: 4%;padding-bottom: 2%;" >
        
        <ion-fab-button (click)="add()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      
    </div>


        


    </ion-item>

    
   




  <div style="padding-top:2%">
  <ion-item *ngFor="let i of attributes" >
    <ion-avatar slot="start"  >
      <img src="https://www.iconbunny.com/icons/media/catalog/product/4/0/4095.9-variable-resistor-icon-iconbunny.jpg">
    </ion-avatar>
    <ion-label >
      <h2><b>{{i.attName}}</b></h2>
     
    </ion-label >
    <ion-label >
     
      <h3>{{i.atttype}}</h3>
    </ion-label>
  
      <ion-buttons slot="end">

  
        <ion-button style=" font-size: 17px" (click)="edit(i.id)" >
          <ion-icon name="brush"></ion-icon>
        </ion-button>
        
        <ion-button class="iconsize" (click)="confirmdel(i.id)">
          <ion-icon slot="end" name="close"></ion-icon>
        </ion-button>
       
      
      </ion-buttons>
  </ion-item>
</div>
<!--
<ion-grid>
  <ion-row>
    <ion-col size="2.3" *ngFor="let i of attributes" >
      <ion-card>
        <ion-card-header>
         
          <ion-card-title></ion-card-title>
          <ion-card-subtitle>Atrribute
          <ion-buttons >
    
      
            <ion-button style=" font-size: 17px" (click)="edit(i.attName)" >
              <ion-icon name="brush"></ion-icon>
            </ion-button>
            
            <ion-button class="iconsize" (click)="delete(i.attName)">
              <ion-icon slot="end" name="close"></ion-icon>
            </ion-button>
           
          
          </ion-buttons>
        </ion-card-subtitle>
          <ion-card-title>{{i.attName}}</ion-card-title>
          <ion-card-title>{{i.atttype}}</ion-card-title>
          
          
        </ion-card-header>
      
        <ion-card-content>
       
        </ion-card-content>
      </ion-card>
  

</ion-col>
</ion-row>

</ion-grid>
-->



<div size="2.15" style="padding-top: 4%; left: 4%;padding-bottom: 4%;" >

  <ion-button (click)="onCancel()" color="medium">Cancel</ion-button>
   <ion-button class="submit-btn" type="submit"vertical="top" horizontal="end" >Create</ion-button>
  
</div>

  </form>

 </ion-card> 

<!--
<ion-grid>
  <ion-row>
    <ion-col *ngFor="let i of attributes">
      <div>
      
        {{i.attName}}
      </div>
    ............
      
        {{i.atttype}}
      
    </ion-col>
  </ion-row>
  
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col style="left: 100px;">
<ion-card >
  <table style="width:100%;">
    
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
    </tr>
  
    <ion-item *ngFor="let i of attributes ">
      
      <td  >{{i.attName}}</td>
      <td >{{i.atttype}}</td>
    </ion-item>  
  </table>
</ion-card> 
</ion-col>
</ion-row>

</ion-grid>-->
  


</ion-content> 


