.container {
    text-align: center;


   position:relative; 
    
    left:400px; 
    width:770px; 

  padding-top: 100px;
   
  }

.roundshape{
  border-radius: 25px;
}


  .container1 {
    text-align: center;
  color: #F5F5F5;
  

    position:absolute; top:120px; 
    left:30%; 
    width:40%; 
    height:100;
   // border:10px;
    top:10%;
    //align-items: center; 
    justify-content: center;
    
    right: 10;

    transform: translateY(-50%);
  }



  .container2 {
    text-align: center;
  color: #F5F5F5;
  

    position:absolute; 
   // top:200px; 
    left:30%; 
    width:40%; 
    height:100;
   // border:10px;
    top:93%;
    //align-items: center; 
    justify-content: center;
    
    right: 10;

    transform: translateY(-50%);
  }
  
  ion-title{
    text-align: center;
  
    //position: absolute;
   // left: 20;
  }
  
  
  .myback{
   // --background: #075e54;
   --background: #0065a3;
    color: #F5F5F5;
    }
  
    
  .myback1{
    --background: #1464a4;
    //color: #7c6363;
    }
  
    .background{
  // --background: #fff url("../../assets/images/23.jpg") no-repeat center center;
   //  --background:#ffffff;
   --background:#f7f7f7d0;
     }

     .design{
      // background-size: 100%;
      // background-repeat: no-repeat!important;
      // background-size: cover!important;
       width: 300px!important;
      // height: 100vh!important;
      // margin-left: -10%!important;
      // background-attachment: fixed!important;
      // margin-top: -10%!important;
      // background-position: center center!important;
      background: #fff url("../../assets/images/1134.png") no-repeat center center;
    }

    .design1{
      // background-size: 100%;
      // background-repeat: no-repeat!important;
      // background-size: cover!important;
      // width: 60%!important;
      width: 450px;
      // height: 100vh!important;
      // margin-left: -10%!important;
      // background-attachment: fixed!important;
      // margin-top: -10%!important;
      // background-position: center center!important;
     // background: #fff url("../../assets/images/sd.jpg") no-repeat center center;
    }

    .design2{
      // background-size: 100%;
      // background-repeat: no-repeat!important;
      // background-size: cover!important;
       width: 50%!important;
      // height: 100vh!important;
       margin-left: 24%!important;
      // background-attachment: fixed!important;
      // margin-top: -10%!important;
      // background-position: center center!important;
     // background: #fff url("../../assets/images/sd.jpg") no-repeat center center;
    }
    .design3{
      // background-size: 100%;
      // background-repeat: no-repeat!important;
      // background-size: cover!important;
     // width: 200%!important;
      // height: 100vh!important;
      margin-left: -6%!important;
      // background-attachment: fixed!important;
      // margin-top: -10%!important;
      // background-position: center center!important;
     // background: #fff url("../../assets/images/sd.jpg") no-repeat center center;
    }