.container {
    text-align: center;
  
  // position: absolute;
    top:90%;
    left: 35%;
    right: 30%;
    top: 200%;
   // border: 200px;
  //  transform: translateY(-50%);
  align-items: center; 
  }


  .container11 {
 //   text-align: center;


 //   position:absolute;
    top:70%; 
 //   left:35%; 
    width:100%; 
    height:100 ;
   // border:10px;
 //   top:45%;
    
 //   justify-content: center;
    
  //  right: 10;

  //  transform: translateY(-50%);
  }




  
  ion-title{
    text-align: center;
  
    //position: absolute;
   // left: 20;
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .myback{
    --background: #075e54;
    color: #F5F5F5;
    }
  
    
  .myback1{
    --background: #3caa9d;
    color: #F5F5F5;
    }
  
    .background{
     --background: #fff url("../../assets/images/223.jpg") no-repeat center center;
    // --background:#c7d4ca;
     }
  
  
  
  .ion-card-design {
    border-radius: 20px;
   // --background:  #353838;
    font-weight: bold;
    text-align: center;
   // color:white ;
    }
  
    .cardalign {
      font-weight: bold;
    
      font-size: 20px;
      text-align: center;
      text-emphasis-color:#c7d4ca ;
    }
  
    .fontsize{
      font-size: 50px;
  
      font-weight: bold;
      text-align: center;
      color:#1a885e
    }

    .ion-card-design-back {
        border-radius: 20px;
      //  --background:  #353838;
      --background: #fff url("../../assets/images/223.jpg") no-repeat center center;
        font-weight: bold;
        text-align: center;
       // color:white ;
        }
        .ion-card-design {
          border-radius: 20px;
          }


.chart{
    position:absolute;
  top:35%; 
  left:0%;
    width :50% ;
    height :50%
}    


  .iconsize{
    font-size: 30px; //Preferred size here
    color: #F5F5F5;
}