.container {
    text-align: center;
  
  // position: absolute;
    top:90%;
    left: 35%;
    right: 30%;
    top: 200%;
   // border: 200px;
  //  transform: translateY(-50%);
  align-items: center; 
  }
  
  
  .container11 {
  //   text-align: center;
  
  
  //   position:absolute;
    top:70%; 
  //   left:35%; 
    width:100%; 
    height:100 ;
   // border:10px;
  //   top:45%;
    
  //   justify-content: center;
    
  //  right: 10;
  
  //  transform: translateY(-50%);
  }
  
  .myclass{
    // font-weight: bold;
     text-align: center;
     color: #F5F5F5;
     --background: #075e54;
     text-transform:none;
     }
  
  
  
  
  ion-title{
    text-align: center;
  
    //position: absolute;
   // left: 20;
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .myback{
    --background: #075e54;
//--background:#1b1b1b;
    color: #F5F5F5;
    }
  
    
  .myback1{
   //--background: #3caa9d;
    --background:#075e54;
    color: #F5F5F5;
   // --background: #000000;
    }
  
    .background{
   //  --background: #fff url("../../assets/images/223.jpg") no-repeat center center;
    // --background:#c7d4ca;
    --background:#f7f7f7b2;
     }

     .background1{
       //--background: #fff url("../../assets/images/67.jpg") no-repeat center center;
       // --background:#c7d4ca;
      // --background:#f7f7f7d0;
      --background:#f7f7f796;
        }
  
  
  
  .ion-card-design {
   // --background: #fff url("../../assets/images/1134.png") no-repeat center center;
    border-radius: 20px;
  // --background:  	 #39ac39;
    font-weight: bold;
    text-align: center;
  //  color:white ;
    }
  
    .cardalign {
      font-weight: bold;
    
      font-size: 20px;
      text-align: center;
      text-emphasis-color:#c7d4ca ;
    }
  
    .fontsize{
      font-size: 50px;
  
      font-weight: bold;
      text-align: center;
     // color:#1a885e
     --background:#1b1b1b;
    }
  
    .ion-card-design-back {
        border-radius: 20px;
      //  --background:  #353838;
      --background: #fff url("../../assets/images/223.jpg") no-repeat center center;
        font-weight: bold;
        text-align: center;
       // color:white ;
        }
  
  
  .chart{
    position:absolute;
  top:35%; 
  left:0%;
    width :50% ;
    height :50%
  }    
  
  
  .iconsize{
    font-size: 20px; //Preferred size here
    color: #F5F5F5;
  }
  
  #notification-button {            
  position: relative;
  width: 42px;
  top:1px;
  right: 1px;
  overflow: visible!important;
  }
  
  #notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
  }
  ion-button {
  ion-badge {
    position: absolute;
    top: -0.6rem;
    right: -0.4rem;
    
    opacity: 0.9;
  
    & ~ ion-icon {
      margin-right: 2rem;
    }
  }
  }
  
  
  .graph{
  //--background: #128C7E;
  --background:#1b1b1b;
  color:#F8F8F8;
  text-align:center;
  }

  #chart {
    max-width: 750px;
    margin: 35px auto;
  }
  
  