

<ion-content class="background">

  <div class=""> 
    <div class="">

      <ion-card style="font-weight: bold;font-size: 38px; position:absolute; top:75%; width:520px; height:70px ;margin: 10px;opacity: 0.9;color:white;background: transparent;">
         
        <ion-card-header>
        AtoS Smart City PoC
        </ion-card-header>
        <ion-card-content>
      
        </ion-card-content>
      
      </ion-card>
    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/texp-fc27d.appspot.com/o/appimages%2Farun.jpg?alt=media&token=c5ab92a5-6023-419b-ae87-257a8b8e501c" [alt]="Arun">
   --> 
   <ion-card style="font-size: 19px; position:absolute; top:78%;left:6%; width:520px; height:70px ;margin: 30px;opacity: 0.9;color:white;background: transparent;">
         
    <ion-card-header>
    Powered by Fiware
    </ion-card-header>
    <ion-card-content>
  
    </ion-card-content>
  
  </ion-card>  
    
    </div>
    </div>

</ion-content>
