<ion-header>

  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-toolbar class="myback1" >

    <ion-buttons  slot="start">

      <ion-button  (click)="menuctlfun()" style="padding-left: 0%;">
        <ion-icon slot="end" name="menu"></ion-icon>
       
      </ion-button>
      </ion-buttons>
   
    <ion-title ><b><b>Monitor</b></b></ion-title>
    <ion-buttons  slot="end">

      <ion-button class="iconsize" (click)="allEntities()">
        <ion-icon slot="end" name="refresh"></ion-icon>
      </ion-button>
     
      
      <ion-button class="iconsize" (click)="logout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
     
     
    
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-item color="light">Fiware Components</ion-item>


  <ion-row>
  <!--  <ion-col size="3"  *ngFor="let i of data1">-->
      <ion-col size="2"  >
      <ion-card  color="light" (click)="sendEntityName(i.id)" >
        <ion-card-header>
          <ion-card-subtitle><b>Orion-Context Broker</b></ion-card-subtitle>
          <ion-card-title >
          
            <ion-col size="3"  >
              <ion-card [color]="status_val==0?'danger':(status_val>0?'success':'warning')" >
                <ion-card-header>
                  <ion-card-title >Status </ion-card-title>
                </ion-card-header>
               
               </ion-card>
               </ion-col>
      

          </ion-card-title>
        </ion-card-header>
       
       </ion-card>
       </ion-col>



       <ion-col size="2"  >
        <ion-card  color="light" (click)="sendEntityName(i.id)" >
          <ion-card-header>
            <ion-card-subtitle><b>PEP-Proxy</b></ion-card-subtitle>
            <ion-card-title >
            
              <ion-col size="3"  >
                <ion-card [color]="status_pep_proxy==0?'danger':(status_pep_proxy>0?'success':'warning')" >
                  <ion-card-header>
                    <ion-card-title >Status </ion-card-title>
                  </ion-card-header>
                 
                 </ion-card>
                 </ion-col>
        
  
            </ion-card-title>
          </ion-card-header>
         
         </ion-card>
         </ion-col>

         <ion-col size="2"  >
          <ion-card  color="light" (click)="sendEntityName(i.id)" >
            <ion-card-header>
              <ion-card-subtitle><b>KeyRock</b></ion-card-subtitle>
              <ion-card-title >
              
                <ion-col size="3"  >
                  <ion-card [color]="status_keyrock==0?'danger':(status_keyrock>0?'success':'warning')" >
                    <ion-card-header>
                      <ion-card-title >Status </ion-card-title>
                    </ion-card-header>
                   
                   </ion-card>
                   </ion-col>
          
    
              </ion-card-title>
            </ion-card-header>
           
           </ion-card>
           </ion-col>
 

           <ion-col size="2"  >
            <ion-card  color="light" (click)="sendEntityName(i.id)" >
              <ion-card-header>
                <ion-card-subtitle><b>Cygnus</b></ion-card-subtitle>
                <ion-card-title >
                
                  <ion-col size="3"  >
                    <ion-card [color]="status_cygnus==0?'danger':(status_cygnus>0?'success':'warning')" >
                      <ion-card-header>
                        <ion-card-title >Status </ion-card-title>
                      </ion-card-header>
                     
                     </ion-card>
                     </ion-col>
            
      
                </ion-card-title>
              </ion-card-header>
             
             </ion-card>
             </ion-col>

          
 
</ion-row>

<ion-item color="light">Backing Services</ion-item>

<ion-row>

 

  <ion-col size="2"  >
   <ion-card  color="light" (click)="sendEntityName(i.id)" >
     <ion-card-header>
       <ion-card-subtitle><b>MS-SQL</b></ion-card-subtitle>
       <ion-card-title >
       
         <ion-col size="3"  >
           <ion-card [color]="status_mssql==0?'danger':(status_mssql>0?'success':'warning')" >
             <ion-card-header>
               <ion-card-title >Status </ion-card-title>
             </ion-card-header>
            
            </ion-card>
            </ion-col>
   

       </ion-card-title>
     </ion-card-header>
    
    </ion-card>
    </ion-col>

    <ion-col size="2"  >
     <ion-card  color="light" (click)="sendEntityName(i.id)" >
       <ion-card-header>
         <ion-card-subtitle><b>MongoDB</b></ion-card-subtitle>
         <ion-card-title >
         
           <ion-col size="3"  >
             <ion-card [color]="status_mongodb==0?'danger':(status_mongodb>0?'success':'warning')" >
               <ion-card-header>
                 <ion-card-title >Status </ion-card-title>
               </ion-card-header>
              
              </ion-card>
              </ion-col>
     

         </ion-card-title>
       </ion-card-header>
      
      </ion-card>
      </ion-col>


</ion-row>

<ion-item color="light">Devicelynx Core Services</ion-item>
<ion-row>
  <ion-col size="2"  >
    <ion-card  color="light" (click)="sendEntityName(i.id)" >
      <ion-card-header>
        <ion-card-subtitle><b>Health </b></ion-card-subtitle>
        <ion-card-title >
        
          <ion-col size="3"  >
            <ion-card [color]="status_mongodb==0?'danger':(status_mongodb>0?'success':'warning')" >
              <ion-card-header>
                <ion-card-title >Status </ion-card-title>
              </ion-card-header>
             
             </ion-card>
             </ion-col>
    

        </ion-card-title>
      </ion-card-header>
     
     </ion-card>
     </ion-col>
</ion-row>

</ion-content>
